/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/atom-one-dark.css';

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://unpkg.com/geist@1.3.0/dist/fonts/geist-mono/GeistMono-Medium.woff2')
    format('woff2');
}

@layer components {
  .small {
    --spacing-base: 0.125rem;
    @apply text-sm;
  }
}

// @font-face {
//   font-family: 'Geist';
//   src: url(/GeistVF.woff2);
// }

/* CSS */
// :root {
//   font-family: Inter, sans-serif;
//   font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
// }

html {
  @apply antialiased;
}

body {
  @apply min-h-screen bg-foreground text-sm text-text;
  // font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  // font-variation-settings: 'slnt' 0;
}

* {
  @apply border-border;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
  /* --color-primary: 129, 140, 248; */
  // --color-primary: 8, 145, 178;
  // --color-primary: 118, 6, 243;
  --color-primary: 0, 0, 0;
  // --color-primary: 0, 0, 0;
  // --color-primary: 29, 78, 216;
  // --color-background: 251, 251, 251;
  --color-background: 246, 247, 251;
  // --color-background: 233, 233, 233;
  --color-foreground: 255, 255, 255;
  --color-muted: 113, 113, 122; // 75, 85, 99;
  --color-muted-background: 231, 231, 231; // 244, 244, 245;
  // --color-text: 24, 24, 27;
  --color-text: 9, 9, 11;
  --color-border: 228, 228, 231;
  --color-input: 243, 244, 246;
  --density: 1;
  --spacing-base: 0.25rem;
  --spacing-baseY: 0.25rem;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
.dark {
  --color-primary: 250, 250, 250;
  --color-muted: 161, 161, 170;
  --color-muted-background: 39, 39, 42;
  --color-text: 250, 250, 250;
  // --color-background: 0, 0, 0;
  --color-background: 21, 21, 24;
  // --color-foreground: 24, 24, 27;
  // --color-foreground: 25, 27, 35;
  --color-foreground: 0, 0, 0;
  --color-border: 39, 39, 42;
  --color-input: 39, 39, 42;
  color-scheme: dark;
}

@layer components {
  .mee-header {
    @apply bg-foreground text-text;
  }
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
  margin-right: 1px;
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e7; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0px solid; /* creates padding around scroll thumb */
}
