import { Component, Directive, ChangeDetectionStrategy } from '@angular/core';
import { NgbCell, NgbCellDef } from '@ngbase/adk/table';

@Component({
  selector: '[<%= name %>Cell]',
  changeDetection: ChangeDetectionStrategy.OnPush,
  hostDirectives: [NgbCell],
  host: {
    class: 'px-4 py-2 align-middle bg-foreground',
  },
  template: `<ng-content />`,
})
export class Cell {}

@Directive({
  selector: '[<%= name %>CellDef]',
  hostDirectives: [NgbCellDef],
})
export class CellDef {}
