<nav class="w-full border-b bg-primary p-4">
  <div class="flex h-full items-center justify-between">
    <div class="text-lg text-white">Mee UI</div>
  </div>
</nav>

<main class="mt-4 flex flex-1">
  <app-nav class="w-56"></app-nav>
  <div class="flex-1 pl-4">
    <mee-card class="mb-4">
      <h4 meeHeader>Theme</h4>
      <mee-separator></mee-separator>
      <h4>Primary Color</h4>
      <mee-color-picker [(ngModel)]="primaryColor"></mee-color-picker>
    </mee-card>
    <mee-card id="cardPage">
      <h4 meeHeader>Heading 1</h4>
      <mee-separator></mee-separator>
      <p class="text-base text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
        maiores in aspernatur rerum, eligendi, pariatur ipsum eaque non,
        similique veritatis delectus earum magni nemo sunt odio officiis
        tenetur. Obcaecati excepturi minus quas optio eaque facere soluta odit
        nostrum distinctio dignissimos, laboriosam consectetur veritatis vero
        maiores repudiandae expedita quod numquam temporibus!
      </p>

      <h4 meeHeader class="mt-10" id="buttonPage">Button</h4>
      <button meeButton class="mr-2">Primary</button>

      <h4 meeHeader class="mt-10" id="checkboxPage">Checkbox</h4>
      <mee-checkbox class="w-full" [(ngModel)]="checkBox">
        Check the UI
      </mee-checkbox>
      <mee-checkbox class="w-full">Check the UI</mee-checkbox>

      <h4 meeHeader class="mt-10" id="switchPage">Switch</h4>
      <mee-switch class="w-full" [(ngModel)]="switch">Switch the UI</mee-switch>

      <h4 meeHeader class="mt-10" id="inputPage">Input</h4>
      {{ inputValue }}
      <input
        meeInput
        [(ngModel)]="inputValue"
        placeholder="Input"
        class="w-full"
      />

      <h4 meeHeader class="mt-10" id="selectPage">Select</h4>
      <mee-select [(ngModel)]="selectValue" class="w-full">
        <input
          meeSelectInput
          placeholder="Search options"
          [formControl]="search"
        />
        @for (item of optionsFilter(); track item) {
          <mee-select-option [value]="item">{{ item }}</mee-select-option>
        }
      </mee-select>

      <h4 meeHeader class="mt-10" id="dialogPage">Dialog</h4>
      <button meeButton (click)="open()">submit</button>

      <h4 meeHeader class="mt-10" id="sheetPage">Sheet</h4>
      <button meeButton (click)="openSheet()">Open sheet</button>

      <h4 meeHeader class="mt-10" id="menuPage">Menu</h4>
      <div class="flex justify-between">
        <button meeButton [meeMenuTrigger]="menuContainer">Open menu</button>
        <button meeButton [meeMenuTrigger]="menuContainer">Open menu</button>
      </div>

      <mee-menu #menuContainer>
        <button meeList>Profile</button>
        <button meeList>Billing</button>
        <button meeList>Settings</button>
        <button meeList>Keyboard shortcuts</button>
        <mee-separator></mee-separator>
        <button meeList>Team</button>
        <button meeList>New Team</button>
      </mee-menu>

      <h4 meeHeader class="mt-10" id="popoverPage">Popover</h4>
      <button meeButton (click)="openPopover($event)" class="mr-4">
        Open popover
      </button>
      <button meeButton [meePopoverTrigger]="myPopover">
        Open popover with template
      </button>

      <ng-template #myPopover>
        <div class="w-56">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            expedita sit facere minus minima quis, accusamus vero voluptatem
            cumque. Impedit!
          </p>
          <button meeButton meeDialogClose>Close</button>
        </div>
      </ng-template>

      <h4 meeHeader class="mt-10" id="drawerPage">Drawer</h4>
      <button meeButton (click)="openDrawer()">Open drawer</button>

      <h4 meeHeader class="mt-10" id="hoverCardPage">Hover Card</h4>
      <button [meeHoverCard]="myPopover" meeButton>
        Hover over to show hover card
      </button>

      <h4 meeHeader class="mt-10" id="accordionPage">Accordion</h4>
      <mee-accordion-group [multiple]="false">
        <mee-accordion-item>
          <h4>Heading 1</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            expedita sit facere minus minima quis, accusamus vero voluptatem
            cumque. Impedit!
          </p>
        </mee-accordion-item>
        <mee-accordion-item>
          <h4>Heading 2</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            expedita sit facere minus minima quis, accusamus vero voluptatem
            cumque. Impedit!
          </p>
        </mee-accordion-item>
      </mee-accordion-group>

      <h4 meeHeader class="mt-10" id="tabsPage">Tab</h4>
      <mee-tab-group [activeIndex]="1">
        <mee-tab title="Tab 1">
          <p>
            Tab 1 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Reiciendis, rerum? Quidem doloremque sit omnis! Blanditiis dolorem
            exercitationem obcaecati, necessitatibus voluptatibus maxime! Est
            ipsa ratione, vel quae iusto facilis id quisquam.
          </p>
        </mee-tab>
        <mee-tab title="Tab 2">
          <p>
            Tab 2 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Reiciendis, rerum? Quidem doloremque sit omnis! Blanditiis dolorem
            exercitationem obcaecati, necessitatibus voluptatibus maxime! Est
            ipsa ratione, vel quae iusto facilis id quisquam.
          </p>
        </mee-tab>
      </mee-tab-group>

      <h4 meeHeader class="mt-10" id="progressPage">Progress</h4>
      <button
        meeButton
        meeTooltip="increment"
        class="mr-2"
        (click)="percentage = percentage + 10"
      >
        +
      </button>
      <button
        meeButton
        meeTooltip="decrement"
        (click)="percentage = percentage - 10"
      >
        -
      </button>
      <mee-progress [percentage]="percentage"></mee-progress>

      <h4 meeHeader class="mt-10" id="resizablePage">Resizable</h4>
      <mee-resizable-group class="rounded-lg border">
        <mee-resizable [size]="30">
          <div class="flex h-[200px] w-full items-center justify-center">
            Resizable 1
          </div>
        </mee-resizable>
        <mee-resizable [size]="50">
          <mee-resizable-group class="h-full" direction="vertical">
            <mee-resizable [size]="50">
              <div class="flex h-full w-full items-center justify-center">
                Resizable 2
              </div>
            </mee-resizable>
            <mee-resizable [size]="50">
              <div class="flex h-full w-full items-center justify-center">
                Resizable 3
              </div>
            </mee-resizable>
          </mee-resizable-group>
        </mee-resizable>
        <mee-resizable [size]="20">
          <div class="flex h-[200px] w-full items-center justify-center">
            Resizable 4
          </div>
        </mee-resizable>
      </mee-resizable-group>

      <h4 meeHeader class="mt-10" id="sliderPage">Slider</h4>
      <mee-slider [(ngModel)]="slider" [step]="1" [max]="200"></mee-slider>

      <h4 meeHeader class="mt-10" id="sonnerPage">Sonner</h4>
      <button meeButton (click)="addMessage()" class="mr-2">Sonner</button>
      <button meeButton (click)="clearMessage()">Clear Message</button>

      <h4 meeHeader class="mt-10" id="togglePage">Toggle</h4>
      <button meeToggle [(ngModel)]="toggle">B</button>

      <h4 meeHeader class="mt-10" id="toggleGroupPage">Toggle Group</h4>
      <mee-toggle-group [(ngModel)]="toggleGroup">
        <button meeToggleItem value="A">A</button>
        <button meeToggleItem value="B">B</button>
        <button meeToggleItem value="C">C</button>
      </mee-toggle-group>

      <h4 meeHeader class="mt-10" id="tooltipPage">Tooltip</h4>
      <button meeTooltip="Tooltip" class="m-2" meeButton>
        Hover over to show tooltip
      </button>

      <h4 meeHeader class="mt-10" id="colorPickerPage">Color picker</h4>
      <mee-color-picker></mee-color-picker>
    </mee-card>
  </div>
</main>
