<nav class="w-full rounded-md border-b bg-bg-primary p-4">
  <div class="flex h-full items-center justify-between">
    <div class="text-lg">App</div>
  </div>
</nav>

<main class="mt-4 flex flex-1">
  <app-nav class="w-56"></app-nav>
  <div class="flex-1 pl-4">
    <mee-card>
      <h4 meeHeader>Heading 1</h4>
      <mee-separator></mee-separator>
      <p class="text-base text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
        maiores in aspernatur rerum, eligendi, pariatur ipsum eaque non,
        similique veritatis delectus earum magni nemo sunt odio officiis
        tenetur. Obcaecati excepturi minus quas optio eaque facere soluta odit
        nostrum distinctio dignissimos, laboriosam consectetur veritatis vero
        maiores repudiandae expedita quod numquam temporibus!
      </p>
      <mee-checkbox class="w-full" [(ngModel)]="checkBox">
        Check the UI
      </mee-checkbox>
      <mee-checkbox class="w-full">Check the UI</mee-checkbox>
      <mee-switch class="w-full" [(ngModel)]="switch">Switch the UI</mee-switch>
      <button meeButton (click)="open()">submit</button>

      <mee-accordion-group>
        <mee-accordion-item>
          <h4>Heading 1</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            expedita sit facere minus minima quis, accusamus vero voluptatem
            cumque. Impedit!
          </p>
        </mee-accordion-item>
        <mee-accordion-item>
          <h4>Heading 2</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            expedita sit facere minus minima quis, accusamus vero voluptatem
            cumque. Impedit!
          </p>
        </mee-accordion-item>
      </mee-accordion-group>
    </mee-card>
  </div>
</main>
