<mee-card id="cardPage" class="flex flex-col gap-5">
  <app-typography></app-typography>

  <app-pagination></app-pagination>

  <app-breadcrumb></app-breadcrumb>

  <app-avatar></app-avatar>

  <!-- <app-spinner></app-spinner> -->

  <app-buttons></app-buttons>

  <app-checkbox></app-checkbox>

  <app-radio></app-radio>

  <app-switch></app-switch>

  <app-input></app-input>

  <app-placeholder></app-placeholder>

  <app-otp></app-otp>

  <app-select></app-select>

  <app-autocomplete></app-autocomplete>

  <app-calendar></app-calendar>

  <app-datepicker></app-datepicker>

  <app-dialog></app-dialog>

  <app-sheet></app-sheet>

  <app-drawer></app-drawer>

  <app-menu></app-menu>

  <app-context-menu meeTourStep class="tour-context-menu"></app-context-menu>

  <app-alert-dialog></app-alert-dialog>

  <app-popover></app-popover>

  <app-hover-card></app-hover-card>

  <app-accordion></app-accordion>

  <app-tabs meeTourStep class="tour-tabs"></app-tabs>

  <app-progress></app-progress>

  <app-resizable meeTourStep class="tour-resizable"></app-resizable>

  <app-slider></app-slider>

  <app-sonner></app-sonner>

  <app-toggle></app-toggle>

  <app-toggle-group></app-toggle-group>

  <app-tooltip></app-tooltip>

  <app-color-picker></app-color-picker>
</mee-card>
