# MEE Form Field

```typescript
import { Icon } from '@/ui/icon';
import {
  FormField,
  Label,
  Description,
  InputPrefix,
  InputSuffix,
  InputError,
  MeeInput,
} from '@/ui/form-field';
```

## Components

### `<%= name %>-form-field, [<%= name %>FormField]`

### `[<%= name %>Label]`

### `[<%= name %>Description]`

### `[<%= name %>Prefix]`

### `[<%= name %>Suffix]`

### `[<%= name %>Error]`

- **Inputs**
  - `<%= name %>Error`: string - condition to show the error similar to ngIf

### `[<%= name %>Input]`

- **Inputs**
  - `value`: string - The value of the input (2way)
- **Outputs**
  - `valueChange`: EventEmitter<string> - The event emitter for the value change

## Usage

```html
<<%= name %>-form-field>
  <label <%= name %>Label>Label</label>
  <p <%= name %>Description>Description</p>
  <<%= name %>-icon <%= name %>Prefix name="info" />
  <input <%= name %>Input [(value)]="value" />
  <<%= name %>-icon <%= name %>Suffix name="info" />
  <p <%= name %>Error="required">Error</p>
  <p <%= name %>Error="!required && minlength">Error</p>
</<%= name %>-form-field>

<<%= name %>-form-field>
  <input <%= name %>Input [(ngModel)]="value" />
</<%= name %>-form-field>
```

Note: Use `<%= name %>-form-field` to wrap the `<%= name %>Input`, `<%= name %>-select` or `<%= name %>-autocomplete` and label. Never use any input, select or autocomplete directly.
