/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-base antialiased;
}

body {
  @apply bg-background min-h-screen;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: rgb(var(--text));
}

:root {
  --primary: 14, 165, 233;
  --background: 244, 244, 245;
  --foreground: 255, 255, 255;
  --muted: 113, 113, 122;
  --text: 24, 24, 27;
  --border: 228, 228, 231;
  --lighter: 243, 244, 246;
  --input: 243, 244, 246;
}

.dark {
  --muted: 161, 161, 170;
  // --color-primary: 15, 114, 255;
  --text: 255, 255, 255;
  --background: 0, 0, 0;
  --foreground: 24, 24, 27;
  --border: 39, 39, 42;
  --lighter: 39, 39, 42;
  --input: 39, 39, 42;
}

@layer components {
  .mee-header {
    @apply bg-foreground text-white;
  }
}

p {
  @apply text-base;
}
