/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-base antialiased;
}

body {
  @apply bg-bg min-h-screen;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  --color-text-muted: 113, 113, 122;
  --color-primary: 0, 0, 0;
  // #f4f4f5
  --color-gray: 244, 244, 245;
  // #004f4f
  // --color-primary: 0, 79, 79;
  // yellow
  // --color-primary: 255, 215, 0;
  // #f4f4f5
  --color-bg: 244, 244, 245;
  // #ffffff
  --color-fg: 255, 255, 255;
}

@layer components {
  .mee-header {
    @apply bg-fg text-white;
  }
}

p {
  @apply text-base;
}
